APP_NAME=user-service
APP_PORT=3000

DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=user_service
DB_SYNC=true

RABBITMQ_URL=amqp://guest:guest@127.0.0.1:5672
RABBITMQ_USER_QUEUE=user_service_queue

LOG_LEVEL=debug
